<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<!--Evin Komputeri-->

		<add name="constr" connectionString="Data Source=ORXAN;Initial Catalog=UserDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" />

		<!--Stepin Komputeri-->

		<!--<add name="constr" connectionString="Data Source=STHQ0118-02;Initial Catalog=UserDb;User ID=admin;Password=admin;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False" />-->

	</connectionStrings>
</configuration>