<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--Evin Komputeri-->
		
		<!--<add name="constr" connectionString="Data Source=ORXAN;Initial Catalog=BookStore;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" />
		<add name="constrAdmin" connectionString="Data Source=ORXAN;Initial Catalog=AdminPanel;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" />-->

		<!--Stepin Komputeri-->
		<add name="constr" connectionString="Data Source=STHQ0118-02;Initial Catalog=BookStore;User ID=admin;Password=admin;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False" />
		<add name="constrAdmin" connectionString="Data Source=STHQ0118-02;Initial Catalog=AdminPanel;User ID=admin;Password=admin;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False" />


	</connectionStrings>
</configuration>